body {
  font-family: Roboto, arial, sans-serif;
}
a {
  text-decoration: none;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 13px;
  font-weight: 100;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.weather-app {
  border: 1px solid #d7d8d9;
  border-radius: 5px;
  padding: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overlook {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  width: 70px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: underline;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-temperature-min {
  opacity: 0.6;
}
